* {
  box-sizing: border-box;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?colors");
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  color: rosybrown;
  text-align: center;
  font-size: 5rem;
  opacity: 0.8;
  padding: 2rem;
}

form {
  width: 450px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  padding: 0.6rem 2rem;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  box-shadow: 0 3px 10px rgba(203, 180, 180, 0.398);
  background-color: rgba(188, 143, 143, 0.398);
  margin-bottom: 1rem;
  color: rgba(229, 214, 214, 0.92);
}

.input::placeholder {
  color: rgba(229, 214, 214, 0.92);
}

.todos {
  background-color: rgba(188, 143, 143, 0.398);
  margin: 0%;
  padding: 0rem;
  list-style-type: none;
  width: 450px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  display: block;
  color: rgba(229, 214, 214, 0.92);
}

.todos li {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.todos li.completed {
  text-decoration: line-through;
  color: rgb(255, 0, 136);
}
/* 
.select-hour {
  border: none;
  width: 5rem;
  color: rgb(186, 186, 186);
}
.select-minutes {
  border: none;
  width: 5rem;
  color: rgb(186, 186, 186);
} */

option {
  text-align: center;
}

small {
  color: rosybrown;
  opacity: 0.8;
  margin-top: 3rem;
  text-align: center;
}
